@media screen and (max-width: 1080px) {
    main section {
        padding: 20px;
    }

    main div.list {
        padding: 20px 40px;
    }

    main div.edit {
        padding: 0 40px;
    }

    main div.edit textarea{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    aside.menu a p {
        display: none;
    }

    aside.menu {
        width: 100px;
        text-align: center;
    }

    aside.menu a span {
        float: none;
        transform: none;
        margin-top: 0;
    }

    header, main {
        margin-left: 100px;
        width: calc(100% - 100px);
    }

    main div.edit {
        padding: 0 20px;
    }

    div.popup {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 500px) {

    main {
        min-height: 100vh;
        padding: 10px 0;    
    }

    main section {
        padding: 10px;
    }

    main div.list,  main div.list.node {
        padding: 10px;
    }

    aside.menu {
        width: 60px;
    }

    main div.entete {
        margin: 5px;
        padding: 5px 0;
        border: none;
        font-size: 0.9em;
    }

    main div.entete span, main div.entete span.tool {
        margin: 0 5px;
        font-size: 1.5em;
    }

    main div.entete input[type="text"] {
        width: calc(100% - 75px);
    }

    header {
        display: none;
    }

    main div.entete span.tool {
        right: 0;
    }

    main div.list form div.alert, main div.contenu > div.alert, main div.contenu > div.success  {
        width: 100%;
        font-size: 0.8em;
    }

    header, main {
        margin-left: 60px;
        width: calc(100% - 60px);
    }

    main div.contenu form.log input[type="text"], main div.contenu form.log input[type="email"], main div.contenu form.log input[type="password"] {
        width: 100%;
    }

    .fill {
        width: 100%;
    }

    .dash-mobile h2 {
        display: none;
    }

    .dash-mobile {
        margin: 0;
        padding: 0;
    }

    div.list {
        width:  calc(100vw - 80px);
    }

    main div.projectDescription, main div.list div.date {
        padding: 0;
        font-size: 0.8em;
    }

    main div.list div.tache, main div.list div.new {
        border: none;
        margin: 5px 0;
        padding: 5px;
        text-align: left;
        font-size: 0.8em;
    }

    main div.list div.tache input, main div.list div.new input {
        margin: 0;
        margin-left: 30px;
        width: calc(100% - 45px);
    }


    main div.list div.tache > input + span, main div.list div.new input + a {
        width: 10px;
    }

    main div.child {
        padding-left: 15px;
        margin-top: 10px;
    }

    main div.list div.tache .container input {
        width: 1px;
        height: 1px;
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    main div.list div.date {
        display: flex;
        justify-content: space-between;
    }

    main div.list div.tache .container .checkmark {
        top: -10px;
    }

    .dash-mobile + * {
        display: none;
    }

    div.dashboard ul li {
        width: calc(50vw - 70px);
        height: calc(50vw - 70px);
    }

    div.dashboard ul li span i {
        font-size: 2.5em;
    }

    main div.ariane span {
        display: block;
    }

    main div.entete div.tool {
        width: 35px;
        height: 35px;
    }
    
    main div.ariane a {
        padding: 1px 5px;
        font-size: 0.7em;
        border: solid 1px white;
    }

    main div.edit {
        padding: 0 10px;
    }

    main div.edit textarea{
        font-size: 0.8em;
    }

    div.popup .fillR {
        width: 150px;
    }
}