/* style.css */

* {
    box-sizing: border-box;
}

main .image-titre {
	width : 400px;
	height: 200px;
	display: flex;
	margin: 50px auto;
}

main .message {
	text-align: center;
}

main .message img {
	width: 40px;
}

main .message h1 {
	font-family: "Verdana";
	color: lightgray;
	display: inline-block;
}

@media screen and (max-width: 780px) {
	main .image-titre {
		width: 200px;
		height: 100px;
	}

	main .message h1 {
		font-size: 1.1em;
	}
}

div.container {
    width: 100%; 
    height: 100vh;
}
/* 
   ######################################################################
                                aside, barre latérale 
   ######################################################################
*/
aside.menu {
    width: 250px;
    min-height: 100vh;
    background-color: #333333;
    position: fixed;
    text-align: center;
    padding: 50px 0;
}

aside.menu a {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    transition: 150ms;
}

aside.menu a span {
    display: inline-block;
    font-size:1.5em;
    margin-right: 10px;
    float: left;
    transform: translateY(50%);
    margin-top: -0.7em;
}

aside.menu a p {
    display: inline-block;
    font-family: "comfortaa", Arial, Helvetica, sans-serif;
}

aside.menu a:hover {
    background-color: white;
    color: black;
}

/* 
   ######################################################################
                            header, en-tête 
   ######################################################################
*/

header, main {
    display: inline-block;
    width: calc(100% - 250px);
    margin-left: 250px;
}

header {
    height: 50px;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #485563, #29323c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    vertical-align: middle;
}

header div {
    margin: auto 0;
    vertical-align: middle;
    text-align: right;
    position: relative;
    height: 100%;
}

header a.green, header a.red {
    color: white;
    padding: 5px 10px;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
    right: 300px;
    font-family: "Roboto Mono";
    text-decoration: none;
}

header a.green {
    background-color: green;
}

header a.red {
    background-color: red;
}

header a.user span {
    font-family: "Roboto Mono", Arial, sans-serif;
    font-size: 0.95em;
    margin: 0 5px;
    font-weight: bold;
}

/* 
   ######################################################################
                         main, conteneur principale
   ######################################################################
*/

main {
    min-height: calc(100vh - 50px);
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #485563, #29323c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
    min-height: 150px;
    margin: 60px 0;
    padding: 50px 80px;
    vertical-align: top;
}

div h2 {
    font-size: 1.5em;
    color: white;
    display: block;
    vertical-align: middle;
    font-family: "comfortaa", Arial, sans-serif;
}

h2.underline:after {
    content : "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 15px 0;
    background: white;
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

div.titre span {
    font-size: 5em;
    color: white;
    vertical-align: middle;
    display: inline-block;
    margin: 20px;
}

main div.contenu form.log {
    /* width: 50%; */
}

main div.contenu form.log input[type="submit"] {
    display: none;
    margin: 10px 0;
    background: #545659;
    font-family: "Roboto Mono";
    border-radius: 5px;
    text-align: center;
    color: white;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 1.5em;
}

  /* 
   ######################################################################
                         main, dashboard
   ######################################################################
*/

div.dashboard ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

div.dashboard ul li {
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    transition: all 3ms;
    position: absolute;
    transition: all 0.5s;
    animation: project 1s ease-in;
}

@keyframes project {
    0% {
        top: 80px;
        opacity: 0;
    }

    60% {
        top: -20px;
        opacity: 1;
    }

    99% {
        top: 0px;
    }

    100% {
        position: relative;
    }
}

div.dashboard ul li form a {
    color: white;
    text-decoration: none;
    font-family: "comfortaa", Arial, sans-serif;
}

div.dashboard ul li span i {
    font-size: 6em;
}

div.dashboard ul li:hover {
    color: black;
    background: white;
}

/* 
   ######################################################################
                         button style
   ######################################################################
*/

.fill, .fill2, .fill3 {
    position: relative;
    display: block;
    height: 45px;
    width: 300px;
    margin: 10px auto;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    color: #ffffff;
    border: 1px #ffffff solid;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }

  .fill2 {
      display: inline-block;
      margin: 0;
      text-decoration: none;
  }

  .fill3 {
      height: 30px;
      width: 150px;
      line-height: 30px;
      letter-spacing: 0px;
      text-decoration: none;
      font-size: 1em;
      position: absolute;
      transform: translateY(50%);
      top: -15px;
      right: 40px;
  }
  
  .fill:hover, .fill2:hover, .fill3:hover {
    color: rgb(0, 0, 0);
  }
  
  .fill:before, .fill2:before, .fill3:before {
    content: "";
    position: absolute;
    background: #ffffff;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    -webkit-transition: right 0.09s ease-in;
  }
  
  .fill:hover:before, .fill2:hover:before, .fill3:hover:before {
    right: 0;
  }

  /* 
   ######################################################################
                         main, element
   ######################################################################
*/

main div.contenu + div.annexe {
    display: flex;
    /* width: 50%;     */
    margin: 10px 0;
    color: white;
    justify-content: space-between;
}

main div.contenu + div.annexe > a {
    /* background: #545659;
    text-decoration: none;
    font-family: "Roboto Mono";
    border-radius: 5px;
    text-align: center;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em; */
}

main div.contenu + div.annexe span {
    display: inline-block;
    font-size: 2em;
}

main div.contenu + div.annexe span a i{
    color: white;
}

/*main, todolist */

main div.entete {
    padding: 10px 30px;
    margin: 30px 20px;
    border-top: solid 1px white;
    border-left: solid 1px white;
    color: white;
    position: relative;
}

main div.entete input[type="text"] {
    width: 50%;
    padding: 2px;
    font-size: 1em;
    color: black;
    font-family: "Roboto Mono", Arial, sans-serif;
}

main div.entete span {
    font-size: 2em;
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px; 

}

main div.entete span.tool {
    position: absolute;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
    font-size: 1.5em;
    right: 40px;
}

main div.list {
    padding: 50px 200px;
}

main div.list h2{
    font-family: "comfortaa", Arial, sans-serif;
    font-size: 1.5em;
}

main div.list form {
    width: 100%;
}

main div.list form input[type="text"], main div.contenu form.log input[type="text"], main div.contenu form.log input[type="email"], main div.contenu form.log input[type="password"]{
    width: calc(100% - 100px);
    padding: 2px;
    font-size: 1em;
    border: none;
    color: white;
    background: none;
    border-bottom: solid 1px white;
    margin: 10px 0;
    /* color: black; */
    display: inline-block;
    font-family: "Roboto Mono", Arial, sans-serif;
    vertical-align: middle; 
}

main div.list div.tache, main div.list div.new {
    background-color: none;
    padding: 5px 10px;
    margin: 15px 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: right;
    width: 100%;
    border: solid 1px white;
}

main div.list form div.alert {
    width: calc(100% - 50px);
    color: white;
    position: relative;
    background-color: #a53741;
    padding: 5px;
    margin: 15px 0;
}

main div.list form div.alert i {
    font-size: 1.5em;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    width: 50px;
}

main div.list form div.alert p {
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    font-family: "Roboto Mono", Arial, sans-serif;
}

main div.list form input[type="text"] + a,  main div.list form input[type="text"] ~ span{
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 50px;
    line-height: 50px;
    vertical-align: middle;
    /*height: 50px;*/
    text-align: center;
}

input.jscolor {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 0 20px;
    height: 40px;
    width: 60px;
}

span.trash, span.deploi, span.pen {
    cursor: pointer;
}

/* partie développé de la classe tache */

main div.list form div.tache div.develop {
    display: none;
    padding: 10px;
    color : white;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

main div.list form div.tache div.develop textarea {
    width: 100%;
    margin: 10px 0;
}

main div.list form div.tache div.develop div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5em;
}

main div .suppr {
    text-align: center;
}

main div .suppr > span {
    font-size: 5em;
    color: white;
}

main div .suppr > p {
    width: 400px;
    font-family: "Roboto Mono", Arial, sans-serif;
    margin: 30px auto;
    text-align: justify;
    line-height: 1.1em;
    color: white;
}

main div.CGU {
    text-align: center;
    padding: 0 50px;
}

main div.CGU h2 {
    color white;
    margin: 20px auto;
}

main div.CGU p {
    font-family: "Roboto Mono", Arial, sans-serif;
    line-height: 1.1em;
    color: white;
    margin: 20px auto;
    text-align: justify;
}



