/* style.css */

* {
    box-sizing: border-box;
}

main .image-titre {
	width : 400px;
	height: 200px;
	display: flex;
	margin: 50px auto;
}

main .message {
	text-align: center;
}

main .message img {
	width: 40px;
}

main .message h1 {
	font-family: "Verdana";
	color: lightgray;
	display: inline-block;
}

@media screen and (max-width: 780px) {
	main .image-titre {
		width: 200px;
		height: 100px;
	}

	main .message h1 {
		font-size: 1.1em;
	}
}

/* aside, menu latéral */

aside.menu {
    width: 8%;
    min-height: 100vh;
    background-color: #333333;
    float: left;
    text-align: center;
}

aside.menu a {
    display: inline-block;
    font-size:2em;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 10px;
    margin: auto;
    color: white;
    margin: 10px 0;
}

aside.menu a:hover {
    background-color: black;
}

/* header, en-tête */

header, main {
    display: inline-block;
    width: 92%;
}

header {
    height: 80px;
    background-color: #787878;
    vertical-align: middle;
}

header div {
    margin: auto 0;
    vertical-align: middle;
    text-align: right;
    position: relative;
    height: 100%;
}

header a.user {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #444444;
    text-decoration: none;
}

header a.green, header a.red {
    color: white;
    padding: 5px 10px;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
    right: 300px;
    font-family: "Roboto Mono";
    text-decoration: none;
}

header a.green {
    background-color: green;
}

header a.red {
    background-color: red;
}

header a.user span {
    font-family: "Roboto Mono", Arial, sans-serif;
    font-size: 0.95em;
    margin: 0 5px;
    font-weight: bold;
}

/* main, contenu principale */

main {
    min-height: calc(100vh - 80px);
    background-color: #909090;    
}

section {
    min-height: 150px;
    margin: 60px 0;
    padding: 60px;
}

div.titre h2 {
    font-size: 2.5em;
    color: white;
    font-family: "comfortaa", Arial, sans-serif;
}

/*main, todolist */

main div.entete {
    padding: 10px 30px;
    background: black;
    color: white;
    position: relative;
}

main div.entete input[type="text"] {
    width: 50%;
    line-height: 1.5em;
    font-size: 1.2em;
    color: black;
    font-family: "Roboto Mono", Arial, sans-serif;
}

main div.entete i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    right: 40px;
}

main div.list {
    padding: 50px 100px;
}

main div.list h2{
    font-family: "comfortaa", Arial, sans-serif;
    font-size: 1.5em;
}

main div.list form {
    width: 50%;
}

main div.list form input[type="text"]{
    width: calc(100% - 100px);
    line-height: 1.5em;
    font-size: 1.2em;
    margin: 10px 0;
    color: black;
    display: inline-block;
    font-family: "Roboto Mono", Arial, sans-serif;
    vertical-align: middle;
    
}

main div.list form div.alert {
    width: calc(100% - 100px);
    color: white;
    position: relative;
    background-color: #fc6271;
    padding: 5px;
    margin: 15px 0;
}

main div.list form div.alert i {
    font-size: 2em;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    width: 50px;
}

main div.list form div.alert p {
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    font-family: "Roboto Mono", Arial, sans-serif;
}

main div.list form input[type="text"] + a,  main div.list form input[type="text"] ~ span{
    font-size: 2em;
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 50px;
    line-height: 50px;
    vertical-align: middle;
    /*height: 50px;*/
    text-align: center;
}

span.trash {
    cursor: pointer;
}
 

