/* style.css */

* {
    box-sizing: border-box;
}

main .image-titre {
	width : 400px;
	height: 200px;
	display: flex;
	margin: 50px auto;
}

main .message {
	text-align: center;
}

main .message img {
	width: 40px;
}

main .message h1 {
	font-family: "Verdana";
	color: lightgray;
	display: inline-block;
}

@media screen and (max-width: 780px) {
	main .image-titre {
		width: 200px;
		height: 100px;
	}

	main .message h1 {
		font-size: 1.1em;
	}
}

div.container {
    width: 100%; 
    height: 100vh;
}
/* 
   ######################################################################
                                aside, barre latérale 
   ######################################################################
*/
aside.menu {
    width: 250px;
    min-height: 100vh;
    background-color: #333333;
    position: fixed;
    text-align: center;
    padding: 50px 0;
}

aside.menu a {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    transition: 150ms;
}

aside.menu a span {
    display: inline-block;
    font-size:1.5em;
    margin-right: 10px;
    float: left;
    transform: translateY(50%);
    margin-top: -0.7em;
}

aside.menu a p {
    display: inline-block;
    font-family: "comfortaa", Arial, Helvetica, sans-serif;
}

aside.menu a:hover {
    background-color: white;
    color: black;
}

/* 
   ######################################################################
                            header, en-tête 
   ######################################################################
*/

header, main {
    display: inline-block;
    width: calc(100% - 250px);
    margin-left: 250px;
}

header {
    height: 50px;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #485563, #29323c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    vertical-align: middle;
}

header div {
    margin: auto 0;
    vertical-align: middle;
    text-align: right;
    position: relative;
    height: 100%;
}

header a.green, header a.red {
    color: white;
    padding: 5px 10px;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
    right: 300px;
    font-family: "Roboto Mono";
    text-decoration: none;
}

header a.green {
    background-color: green;
}

header a.red {
    background-color: red;
}

header a.user span {
    font-family: "Roboto Mono", Arial, sans-serif;
    font-size: 0.95em;
    margin: 0 5px;
    font-weight: bold;
}

/* 
   ######################################################################
                         main, conteneur principale
   ######################################################################
*/

main {
    min-height: calc(100vh - 50px);
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #485563, #29323c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
    min-height: 150px;
    margin: 60px 0;
    padding: 50px 80px;
    vertical-align: top;
}

div h2 {
    font-size: 1.5em;
    color: white;
    display: block;
    vertical-align: middle;
    font-family: "comfortaa", Arial, sans-serif;
}

h2.underline:after {
    content : "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 15px 0;
    background: white;
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

div.titre span {
    font-size: 5em;
    color: white;
    vertical-align: middle;
    display: inline-block;
    margin: 20px;
}

main div.contenu form.log {
    /* width: 50%; */
}

main div.contenu form.log input[type="submit"] {
    display: none;
    margin: 10px 0;
    background: #545659;
    font-family: "Roboto Mono";
    border-radius: 5px;
    text-align: center;
    color: white;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 1.5em;
}

  /* 
   ######################################################################
                         main, dashboard
   ######################################################################
*/

div.dashboard ul{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    animation: projectNode 1s ease-in;
    /* justify-content: space-around;     */
}

/* @keyframes projectNode {
    0% {
        justify-content: center;        
    }

    100% {
        justify-content: space-around;
    }
} */

div.dashboard ul li {
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    transition: all 0.5s;
    animation: project 0.5s ease-in;
    position: relative;
    margin: 0 20px;

}

@keyframes project {
    0% {
        top: 80px;
        opacity: 0;
        margin: 0 0;
        animation-timing-function: ease-in-out;
    }

    60% {
        top: -20px;
        margin: 0 0;
        animation-timing-function: ease-out;
    }

    75% {
        opacity: 1;
    }

    99% {
        top: 0px;
        margin: 0 20px;
        animation-timing-function: ease-in;
    }

    100% {
        position: relative;
    }
}

div.dashboard ul li form a {
    color: white;
    text-decoration: none;
    font-family: "comfortaa", Arial, sans-serif;
}

div.dashboard p:first-child {
    margin: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 10px);
    overflow: hidden;
}

div.dashboard ul li span i {
    font-size: 5em;
}

div.dashboard ul li.new span i {
    opacity: 0.7;
}

div.dashboard span {
    display: inline-block;
}

div.dashboard ul li span.background-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: solid 1px #fff6;
}

div.dashboard ul li.new {
    border: dashed 3px white;
}

div.dashboard ul li.new span:last-child{
    position: absolute;
    color: white;
    bottom: 10px;
    left: 10px;
    font-size: 0.3em;
}

div.dashboard ul li.new span:last-child i {
    opacity: 1;
}

/* 
   ######################################################################
                         button style
   ######################################################################
*/

.fill, .fill2, .fill3, .fillR {
    position: relative;
    display: block;
    height: 45px;
    width: 300px;
    margin: 10px auto;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    color: #ffffff;
    border: 1px #ffffff solid;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }

  .fill2 {
      display: inline-block;
      margin: 0;
      text-decoration: none;
  }

  .fill3 {
      height: 30px;
      width: 150px;
      line-height: 30px;
      letter-spacing: 0px;
      text-decoration: none;
      font-size: 1em;
      position: absolute;
      transform: translateY(50%);
      top: -15px;
      right: 40px;
  }

  .fillR {
      color : black;
      border: solid 1px black;
  }
  
  .fill:hover, .fill2:hover, .fill3:hover {
    color: rgb(0, 0, 0);
  }

  .fillR:hover {
    color: rgb(255, 255, 255);
  }
  
  .fill:before, .fill2:before, .fill3:before, .fillR:before {
    content: "";
    position: absolute;
    background: #ffffff;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    -webkit-transition: right 0.09s ease-in;
  }

  .fillR:before {
    background: #000000;
  }
  
  .fill:hover:before, .fill2:hover:before, .fill3:hover:before, .fillR:hover:before {
    right: 0;
  }

  /* 
   ######################################################################
                         main, element
   ######################################################################
*/

main div.contenu + div.annexe {
    display: flex;
    /* width: 50%;     */
    margin: 10px 0;
    color: white;
    justify-content: space-between;
}

main div.contenu + div.annexe > a {
    /* background: #545659;
    text-decoration: none;
    font-family: "Roboto Mono";
    border-radius: 5px;
    text-align: center;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em; */
}

main div.contenu + div.annexe span {
    display: inline-block;
    font-size: 2em;
}

main div.contenu + div.annexe span a i{
    color: white;
}

/*main, todolist */

main div.entete {
    padding: 10px 30px;
    margin: 30px 20px;
    border-top: solid 1px white;
    border-left: solid 1px white;
    color: white;
    position: relative;
}

main div.entete input[type="text"] {
    width: 50%;
    padding: 2px;
    font-size: 1em;
    color: black;
    font-family: "Roboto Mono", Arial, sans-serif;
}

main div.entete span {
    font-size: 2em;
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px; 

}

main div.entete div.tool {
    float: right;
    display: inline-block;
    width: 50px;
    height: 50px;
}

main div.entete div.tool a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

main div.entete div.tool span {
    position: absolute;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
    font-size: 2em;
    transition: all 0.5s;
    cursor: pointer;
    transform-origin: top right;
}

main div.entete div.tool span:hover {
    transform: rotate(70deg);
}

main div.list {
    padding: 50px 200px;
}

main div.list h2{
    font-family: "comfortaa", Arial, sans-serif;
    font-size: 1.5em;
}

main div.list form {
    width: 100%;
}

main div.node div.tache div.tache, main div.nodeList div.tache div.tache {
    text-align: left;
}

main div.node, main div.nodeList {
    padding: 0 100px;
}

main div.node div.tache div.tache a, main div.nodeList div.tache div.tache a {
    text-decoration: none;
}

main div.node div.tache div.tache a h2 {
    font-size: 1em;
}

main div.nodeList div.tache.maitre {
    padding: 0;
    border: 0;
    border-bottom: solid 1px lightblue;
    text-align: left;
    font-size: 1.1em;
    background-color: none;
}

main div.nodeList div.tache div.tache h2 {
    font-size: 0.9em;
    text-align: left;    
}


main div.nodeList div.tache.maitre input {
    border: 0;
    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
}


main div.list form input[type="text"], main div.contenu form.log input[type="text"], main div.contenu form.log input[type="email"], main div.contenu form.log input[type="password"]{
    width: calc(100% - 100px);
    padding: 2px;
    font-size: 1em;
    border: none;
    color: white;
    background: none;
    border-bottom: solid 1px white;
    margin: 10px 0;
    /* color: black; */
    display: inline-block;
    font-family: "Roboto Mono", Arial, sans-serif;
    vertical-align: middle; 
}

main div.list div.tache, main div.list div.new {
    background-color: none;
    padding: 5px 10px;
    margin: 15px 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: right;
    width: 100%;
    border: solid 1px white;
}

main div.alert {
    background-color: #a53741;
}

main div.success {
    background-color: #007e39;
}

main div.list form div.alert, main div.contenu > div.alert, main div.contenu > div.success {
    width: calc(100% - 50px);
    color: white;
    position: relative;
    padding: 5px;
    margin: 15px 0;
}

main div.list form div.alert i, main div.contenu > div.alert i, main div.contenu > div.success i {
    font-size: 1.5em;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    width: 50px;
    text-align: center;

}

main div.list form div.alert p, main div.contenu > div.alert p, main div.contenu > div.success p {
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    font-family: "Roboto Mono", Arial, sans-serif;
    width: calc(100% - 90px);
    vertical-align: middle;
}


main div.list .tache .child .tache {
    border: 0;
    margin: 5px 0;
} 

main div.list .tache .child {
    transition: all 0.1s;
}

main div.list .tache .child:hover {
    background: #7fbdf266;
    transform: translateX(10px)
}

main div.list .tache .child .tache h2 {
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 20px);
    font-size: 1em;
}

main div.list .tache .child .tache:before {
    content: "";
    display: inline-block;
    margin: 0 5px;
    width: 5px;
    height: 5px;
    background: white;
    vertical-align: middle;
    border-radius: 50%;
}

main div.list form input[type="text"] + a,  main div.list form input[type="text"] ~ span{
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 50px;
    line-height: 50px;
    vertical-align: middle;
    /*height: 50px;*/
    text-align: center;
}

input.jscolor {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 0 20px;
    height: 40px;
    width: 60px;
}

span.trash, span.deploi, span.pen {
    cursor: pointer;
}

/* partie développé de la classe tache */

main div.list form div.tache div.develop {
    display: none;
    padding: 10px;
    color : white;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

main div.list form div.tache div.develop textarea {
    width: 100%;
    margin: 10px 0;
}

main div.list form div.tache div.develop div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5em;
}

main div.list form div.tache div.develop div a {
    color: white;
}

main div .suppr {
    text-align: center;
}

main div .suppr > span {
    font-size: 5em;
    color: white;
}

main div .suppr > p {
    width: 400px;
    font-family: "Roboto Mono", Arial, sans-serif;
    margin: 30px auto;
    text-align: justify;
    line-height: 1.1em;
    color: white;
}

main div.CGU {
    text-align: center;
    padding: 0 50px;
}

main div.CGU h2 {
    color white;
    margin: 20px auto;
}

main div.CGU p {
    font-family: "Roboto Mono", Arial, sans-serif;
    line-height: 1.1em;
    color: white;
    margin: 20px auto;
    text-align: justify;
}

/* page d'edition */ 

main div.edit {
    margin: 0 auto;
}

main div.edit div.contenu span {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px;
}

main div.edit div.contenu div{
    margin: 30px auto;
    text-align: center;
    max-width: 780px;
    width: 100%;
}

main div.edit div.contenu div + form {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
}

main div.edit div.contenu span i {
    font-size: 2.5em;
    margin: 20px 0;
}

main div.edit textarea {
    width: 100%;
    text-align: left;
    height: 100px;
    margin: 0 auto;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

main div.edit span p {
    line-height: 1em;
} 

main div.projectDescription strong {
    font-size: 1.1em;
    font-weight: bold;
}

main div.projectDescription {
    color: white;
    padding: 0 60px;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

/* 
   ######################################################################
                         main, fil d'ariane
   ######################################################################
*/
main div.ariane {
    padding: 0 10px;
}

main div.ariane span i {
    color : white;
    margin: 5px 10px;
}

main div.ariane a {
    text-decoration: none;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 0.8em;
}

/* 
   ######################################################################
                         main, popup
   ######################################################################
*/

div.popup div.icons, div.popup div.color, div.popup div.rien {
    display: none;
}

div.popup span.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 1.5em;
    display: inline-block;
}

div.overlay {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}

div.overlay.in {
    display: block;
    z-index: 1;
}

div.popup {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    background: white;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 1px black;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: scroll;
    opacity: 0;
    padding: 20px;
    transition: all 0.5s;
    max-width: 640px;
    height: 480px;
    z-index: 2;
}

div.popup.in {
    top: 50%;
    opacity: 1;
}

/* color */

div.popup .colors {
    text-align: center;
}

div.popup .colors form > p {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 20px 0;
    text-align: center;
}

div.popup .colors div {
    text-align: center;
}

div.popup .colors div > span, div.popup .colors div > p {
    display: inline-block;
    width: 160px;
    height: 160px;
    border: solid 1px lightgray;
    text-align: center;
    font-size: 4em;
}

div.popup .colors div > span > i, div.popup .colors div > p > i {
    line-height: 160px;
}

div.popup .colors div .fillR input {
    display: none;
}

/* icons */
div.icons form > div {
    text-align: center;
}

div.icons div.wrapper {
    margin: 20px auto;
    width: calc(3 * 80px + 15px);
    padding: 10px 0;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

div.icons span.slide-left, div.icons span.slide-right {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    vertical-align: middle;
}

div.wrapper div.mini-slider {
    position: absolute;
    transition: all 0.5s;
    width: calc(10 * 80px);
}

div.wrapper div.mini-slider span {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: black;
    text-align: center;
}

div.wrapper div.mini-slider span p {
    font-family: "Roboto Mono", Arial, sans-serif;
    margin: 10px auto;
    font-size: 1em;
}

div.wrapper div.mini-slider span i {
    font-size: 2.5em;
    vertical-align: middle;
    transition: all 0.5s;
}

div.wrapper div.mini-slider span.selected {
    background-color: darkgray;
}

div.wrapper div.mini-slider span.selected i {
    font-size: 2.7em;
}

div.wrapper div.mini-slider span:hover {
    background-color: darkgray;
}

div.popup .icons div .fillR input {
    display: none;
}

div.icons span.display {
    display: inline-block;
    width: 200px;
    height: 100px;
    font-size: 4em;
    color: black;
}

/* suppression projet */

div.drop {
    text-align: center;
}

div.drop span {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: black;
    font-size: 2.5em;
    margin: 30px 0;
}

div.drop p {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0;
}

div.drop p:nth-of-type(1) {
    text-align: left;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 10px 0;
}

div.drop .fillR input {
    display: none;
}

/* Pièce jointe */

div.PJ div.drop {
    width: 100%;
    height: 100%;
    display: block;
    border: dashed blue 10px;
}

div.PJ div.drop p {
    vertical-align: middle;
    margin: auto;
    color: black;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

/* popup date */

.date {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}






